:root{
    --primary-orange: #E55604;
    --primary-green: #0BB5B5;
    --default-white: #FFFFFF;
    --default-pink: #FDF6F5;
    --default-lightgreen: #F6FFFE;
    --text-gray: #3D3838;
    --contact-green: #69B0B0;

    --bs-default: 0 5px 10px rgba(0, 0, 0, 0.25);

}
body{
    font-family: 'M PLUS 1', sans-serif;
    font-family: 'Varela Round', sans-serif;
}
img {
    max-width: 100%;
    height: auto;
}