
.club-card{ 
    height: 18rem;
    margin: 5%;
    width: 90%;
    background-color: var(--default-white);
    box-shadow: var(--bs-default);
    border-radius: 2rem;
    cursor: pointer;
    & .cover{
        width: 100%;
        height: 30%;
        object-fit: cover;
        border-radius: 2rem 2rem 0 0;
    }
    & .club-logo{
        width: 7rem;
        border-radius: 50%;
        margin-top: -3.5rem;
        margin-left: 5%;
        // border: solid 2px var(--border-gray);
        border: solid 2px #D0D0D0;
    }
    & .card-head{
        display: flex;
        & .card-head-txt{
            margin-top: -1rem;
            margin-left: 2rem;
            & h3{
                margin-top: 1rem;
            }
        }
    }
    .club-tag{
        margin-top: 1px;
        background-color: var(--primary-green);
        padding: 0.2rem 0.8rem;
        border-radius: 1rem;
        color: var(--default-white);
        font-size: 0.8rem;
    }
    & .card-status{ 
        
        display: flex;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        margin-top: 4rem;
        margin-left: 5%;
        margin-right: 8%;
        font-size: 0.8rem;
        color: #777777;
        list-style: none;
        & li{
            display: flex;
            gap: 0.3rem;
        }
    }
    & .club-description{
        margin-left: 5%;
        margin-top: 1.2rem;
    }
    
}
