footer {
    margin-top: auto;
    width: 100%;
    background-color: var(--bg-color-4);
    text-align: center;
    padding: 0.9rem 0;

    & p {
        width: 100%;
        margin: 1rem 0;
        color: var(--text-color-1);
    }

    & address {
        width: 100%;
        text-decoration: none;

        & a {
            color: var(--secondary-green);
            margin: 0.1rem;
        }
    }
}