header {
    width: 100%;
    background-color: var(--bg-color-3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    opacity: 0.9;
}

.navbar-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & img {
        width: 4rem;
        margin: 0.6rem 0.9rem;
    }

    & .navbar-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 20rem;
        list-style-type: none;

        & a {
            text-decoration: none;
            font-size: 1.1rem;
            color: var(--text-color-1);
            transition: 0.7s ease;

            &:hover {
                color: var(--primary-orange);
            }
        }

        &.active {
            left: 0;
        }
    }

    & .nav-icon {
        display: none;
    }


    @media (max-width: 48rem) {
        height: 4rem;

        & .navbar-items {
            height: 4rem;
            justify-content: space-around;
            position: fixed;
            right: -100%;
            overflow: hidden;
            top: 4rem;
            gap: 0;
            background-color: var(--bg-color-1);
            width: 100%;
            text-align: center;
            transition: 0.3s;
            border-top: solid 2px var(--line-color);

            &.active {
                left: 0;
            }
        }

        & img {
            margin: 0.3rem 0.45rem;
            width: 3rem;
        }

        & .nav-icon {
            display: block;
            color: var(--primary-green);
            font-size: 1.5rem;
        }
    }
}