@import url("./main.css");
@import url("./components/header.css");
@import url("./components/footer.css");

.events{
    max-width: 100%;
    & h1{
        margin: 0 auto;
        padding-left: 2rem;
        margin-top: 2rem;
        margin-bottom: 0;
        max-width: 90rem;
        color: var(--text-gray);
    }
}
.cards-container{
    margin: 2rem auto;
    margin-top: 0;
    max-width: 90rem;
    min-width: 20rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
}

.event-card{
    height: 20rem;
    margin: 5%;
    width: 90%;
    background-color: var(--default-white);
    box-shadow: var(--bs-default);
    border-radius: 2rem;
    transition: all 0.4s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .cover{
        width: 100%;
        height: 50%;
        object-fit: cover;
        border-radius: 2rem 2rem 0 0;
    }
    & div{
        height: 10%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: var(--text-gray2);
        font-size: 0.8rem;
    }
    & h2{
        font-size: 1.2rem;
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    & .location{
        display: flex;
        gap: 0.3rem;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 15%;
        color: var(--text-gray2);
        font-size: 0.9rem;
        & i{
            color: var(--primary-orange);
        }
    }
    &:hover{
        transform: translateY(-5px);
        cursor: pointer;
    }
}