*{
    padding: 0;
    margin: 0;
}

html{
    --primary-orange: #E55604;
    --primary-green: #0BB5B5;
    --default-white: #FFFFFF;
    --header-bg-clr: #FDF6F5;
    --bg-color: #ECE8E8;
    --default-lightgreen: #F6FFFE;
    --text-gray: #3D3838;
    --text-gray2: #4A4A4A;
    --text-yellow: #FBD13C;
    --contact-green: #69B0B0;
    --border-gray: #D0D0D0;
    --bs-default: 0 5px 10px rgba(0, 0, 0, 0.25);
    --bs-default-hover: 0 10px 20px rgba(0, 0, 0, 0.25);
    --bs-orange: 0 1px 3px var(--primary-orange);
    --line-gray: #d6d6d6;

    --hover-gray: #797979;

    --bg-gradient: linear-gradient(180deg, #ECE8E8 0%, #F7FEFE 100%);

    font-family: 'M PLUS 1', sans-serif;
    font-family: 'Varela Round', sans-serif;

    background-color: var(--bg-color);

}
.dark-mode {
    --bg-color: #121212; 
    --text-color: #E0E0E0;       
    --default-white: #242424;    
    --border-gray: #444444;      
    --primary-green: #0BB5B5;    
    --text-gray: #E0E0E0;        
    --text-yellow: #FFD700;      
    --primary-orange: #FF5722;   
    --contact-green: #0BB5B5;    
    --text-gray2: #BBBBBB; 
    --header-bg-clr: #242424;
    --default-lightgreen: #242424;
    background-color: var(--bg-color);
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.toggle-container {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #3D3838;

    display: flex;
    align-items: center;
    justify-content: center;
    & .toggle {
        display: flex;
        align-items: center;
        cursor: pointer;
        & i {
            font-size: 2rem;
            margin: 0 5px;
        }
    }
    & input:checked + .toggle .fas.fa-moon {
        display: none;
    }
      
    & input:checked + .toggle .fas.fa-sun {
        display: inline;
        color: var(--text-yellow);
        
    }
      
    & input:not(:checked) + .toggle .fas.fa-sun {
        display: none;
    }
      
    & input:not(:checked) + .toggle .fas.fa-moon {
        display: inline;
        color: var(--default-white);
    }
      
    & input {
        display: none;
    }
}
