/* burtguuleh formiin container*/
.signup-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}



/* header */
.signup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* close button*/
.close-button {
    cursor: pointer;
    font-size: 24px;
}



/* input*/
.signup-form input {
    width: 94%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* burtguuleh tovch */
.signup-button {
    width: 100%;
    padding: 10px;
    background-color: #0BB5B5;
    /* You can change the color to differentiate from login button */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

/* Hover effect*/
.signup-button:hover {
    background-color: #139191;
    /* Darker shade for hover effect */
}