.large-hero{
    max-width: 100%;
    background: linear-gradient(180deg, #ECE8E8 0%, #F7FEFE 100%);
    display: flex;
    align-items: center;

    &__content{
        width: 100%;
        top: 50%;
        left: 0;
        text-align: center;
        margin: 5rem;
    }
    &__title{
        font-size: 6rem;
        font-weight: bold;
        max-width: 42.25rem;
        color: var(--primary-orange);
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }
    &__description{
        font-size: 1.25rem;
        color: var(--text-gray);
        max-width: 46.125rem;
        margin-left: auto;
        margin-right: auto;
    }
    &__image{
        width: 46rem;
    }
}
