.search{
    max-width: 24.4rem;
    height: 2.875rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    &__input{
        border: solid 0.09rem var(--primary-orange);
        border-radius: 22.5rem;
        padding: 1rem;
        font-size: 1.2rem;
        height: 10px;

    }
    &__button{
        width: 2.875rem;
        height: 2.875rem;
        border-radius: 50%;
        border: none;
        background-color: var(--primary-orange);
        color: var(--default-white);
        font-size: 1.5rem;
        cursor: pointer;
    }
}